@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700&display=swap&subset=chinese-traditional");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans TC", sans-serif;
}
nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
nav a {
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}
section {
    height: 100vh;
    width: 100%;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url('ph.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 61, 88, 0.774);
}
.title{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me{
    background-color:beige;
    display:flex;
}
.left{
    width:50%;
    height:100%;
    background-image:url('kid_v1.jpg');
    background-size: cover;
    background-position: center;
}
.right{
    width: 50%;
    height: 100%;
    background-color: rgba(2, 61, 88, 0.774);
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 250%;
}
.contact {
    width: 100%;
    height: 100vh;
    background-image: url('WIA_v1.jpg');
    background-color: rgb(50, 46, 59);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.contact-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.contact-content a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    text-decoration: none;
    opacity: 0.7;
    margin: 10px;
    color: #ffffff;
}
.contact-content img {
    margin: 10px;
}